<section class="listModuleType1">
    <h3 class="titleType1">One list to rule them all</h3>
    <ol>
        <li>First! OMG!</li>
        <li>is sequel</li>
        <li>all for one</li>
        <li>I am number</li>
        <li>is the element</li>
        <li>is the big hero</li>
        <li>Lucky number</li>
        <li>is super</li>
        <li>in deep space</li>
        <li>comes from 1979</li>
    </ol>
    <a href="#" class="btnType1"><span>view more</span></a>
</section>

<section class="listModuleType3">
    <h3 class="titleType1">Picture gallery</h3>
    <ul class="gallery">
        <li><a href="images/gallery/galleryLarge1.jpg"><img src="images/gallery/gallerySmall1.jpg" alt=""></a></li>
        <li><a href="images/gallery/galleryLarge2.jpg"><img src="images/gallery/gallerySmall2.jpg" alt=""></a></li>
        <li><a href="images/gallery/galleryLarge3.jpg"><img src="images/gallery/gallerySmall3.jpg" alt=""></a></li>
        <li><a href="images/gallery/galleryLarge4.jpg"><img src="images/gallery/gallerySmall4.jpg" alt=""></a></li>
        <li><a href="images/gallery/galleryLarge5.jpg"><img src="images/gallery/gallerySmall5.jpg" alt=""></a></li>
        <li><a href="images/gallery/galleryLarge6.jpg"><img src="images/gallery/gallerySmall6.jpg" alt=""></a></li>
        <li><a href="images/gallery/galleryLarge7.jpg"><img src="images/gallery/gallerySmall7.jpg" alt=""></a></li>
        <li><a href="images/gallery/galleryLarge8.jpg"><img src="images/gallery/gallerySmall8.jpg" alt=""></a></li>
        <li><a href="images/gallery/galleryLarge9.jpg"><img src="images/gallery/gallerySmall9.jpg" alt=""></a></li>
        <li><a href="images/gallery/galleryLarge10.jpg"><img src="images/gallery/gallerySmall10.jpg" alt=""></a></li>
        <li><a href="images/gallery/galleryLarge11.jpg"><img src="images/gallery/gallerySmall11.jpg" alt=""></a></li>
        <li><a href="images/gallery/galleryLarge12.jpg"><img src="images/gallery/gallerySmall12.jpg" alt=""></a></li>
    </ul>
    <a href="#" class="btnType1"><span>view more</span></a>
</section>

<section class="listModuleType2">
    <h3 class="titleType1">Featured articles</h3>
    <ul>
        <li>
            <a href="/app_dev.php/detail" class="articleType3 jsLink">
                <div class="imageCont">
                    <img src="images/gallery/gallerySmall1.jpg" alt="">
                </div>
                <h3 class="title">Lorem ipsum dolor sit amet, consectetur</h3>
                <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate tenetur libero, accusamus magnam eius pariatur.</p>
            </a>
        </li>
        <li>
            <a href="/app_dev.php/detail" class="articleType3 jsLink">
                <div class="imageCont">
                    <img src="images/gallery/gallerySmall2.jpg" alt="">
                </div>
                <h3 class="title">Lorem ipsum dolor sit amet, consectetur</h3>
                <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate tenetur libero, accusamus magnam eius pariatur.</p>
            </a>
        </li>
        <li>
            <a href="/app_dev.php/detail" class="articleType3 jsLink">
                <div class="imageCont">
                    <img src="images/gallery/gallerySmall3.jpg" alt="">
                </div>
                <h3 class="title">Lorem ipsum dolor sit amet, consectetur</h3>
                <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate tenetur libero, accusamus magnam eius pariatur.</p>
            </a>
        </li>
        <li>
            <a href="/app_dev.php/detail" class="articleType3 jsLink">
                <div class="imageCont">
                    <img src="images/gallery/gallerySmall4.jpg" alt="">
                </div>
                <h3 class="title">Lorem ipsum dolor sit amet, consectetur</h3>
                <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate tenetur libero, accusamus magnam eius pariatur.</p>
            </a>
        </li>
    </ul>
    <a href="#" class="btnType1"><span>view more</span></a>
</section>